@using BlogForDevelopers.WebMvc3.App_Code

@{
	ViewBag.ShowMessageFooter = true;		
}

<div class="metro-sections">

	<div class="metro-section size3">
		<h2>Em construção</h2>
		<div class="tile tile-triple tile-triple-vertical @ClassCssBackgroundColor.Pink">
			<img src="@Url.Content("~/Content/img/build.png")" style="margin: 2em" />
		</div>
	</div>
</div>



