@{
	ViewBag.Title = "Index";
	ViewBag.Background = "#cccccc";
	ViewBag.MetroScroll = "metro-scroll";
	ViewBag.ShowMessageFooter = true;
}
<div class="metro-sections">

	@{Html.RenderAction("LastPost", "Post");}

	<div class="metro-section size2">
		<a href="/about" class="tile @BlogForDevelopers.WebMvc3.App_Code.ClassCssBackgroundColor.Green">
			<div class="tile-icon-large">
				<h2 style="margin-top: 35px; color: #fff;">{ Sobre }</h2>
			</div>
		</a>

		<a href="/contact" class="tile @BlogForDevelopers.WebMvc3.App_Code.ClassCssBackgroundColor.Orange">
			<div class="tile-icon-large">
				<img src="@Url.Content("~/Content/img/mail-128.png")">
			</div>
			<div class="tile-label">Contato</div>
		</a>


		<a href="/projetos" class="tile tile-double @BlogForDevelopers.WebMvc3.App_Code.ClassCssBackgroundColor.Red">
			<div class="tile-icon-large">
				<h3 style="margin-top: 35px; color: #fff;">{ Projetos }</h3>
			</div>
		</a>
	</div>

	@{Html.RenderAction("TagsCloud", "Tag");}
</div>
