@{
	ViewBag.Title = "Error :(";
	ViewBag.Background = "#cccccc";
	ViewBag.MetroScroll = "metro-scroll";
	ViewBag.ShowMessageFooter = true;    
}

<br />
<br />
<h1>
	Sorry, an error occurred while processing your request.
</h1>
