<div id="mws-form-message-upload-image" class="mws-form-message error" style="display: none"></div>

<form id="form-image-upload" class="mws-form" action="/Admin/TextEditor/ImageUpload" method="post" enctype="multipart/form-data">
<div class="mws-form-row">
	<div class="mws-form-item">
		<input class="mws-textinput" type="file" name="imageUpload" />
	</div>
</div>
</form>
