<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="StorageXml" value="App_Data\"/>
		<!-- Usado para o teste	-->
		<add key="ServerMapPath" value="D:\RepositoryGitHub\BlogForDevelopersDotNet\BlogForDevelopers.Repository.Tests\"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
